*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


header{
background-image: url(IMAGENES/Central/imagenCentral.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 30%;
min-width: 780px;
padding-bottom: 5%;

}


.contenedor{

padding-right: 5%;
background-color: grey;
width: 100%;
height: 60%;
min-width: 780px;
} 

.conocenos{
background-color: black;
color: white;
border-radius: 20px;
text-align: center;
margin-left: 30%;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 40px;
padding-right: 40px;
 opacity: 0.7;
}


.principal{
  padding-top: 5%;
  color: white;
  text-align: justify ;
  padding-right: 30px;
  padding-left: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.principal p {
    margin-top: 0;
    margin-bottom: 3rem;
}


.productos{
  width: 100%;
  height: 100%;
  min-width: 780px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px;
  background-color: black; 
  position: absolute;
}

.producto-titulo h1{
 text-align: center;
 margin-bottom: 0px !important; 
}

.row-productos
{
  width: 100%;
  height: 100%;
  background-color: black;
  word-wrap: break-word;
  text-align: center;
  align-items: center;
  display: flex;
}

.info-boton{
background-color: black;
color: orange;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 30px;
border-width: 2px;
border-color: orange;
}

.texto-contenedores{
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin:0px auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

.maicena{
display: grid;
grid-template-columns: 50vw 50vw;
width: 100%;
height: 32rem;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 4;
grid-row-end: 5;
background-image: url(IMAGENES/Productos/Producto4b.png);
background-attachment: inherit;
background-size: 100% 100%;
background-repeat: no-repeat;
}

.row-maicena{
  width: 100%;
  height: 30rem;
  min-height: 20rem;
  min-width: 20rem;
  padding: 2.5rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.info{
margin-top: 0.5rem;
border: solid 2px brown;
padding: .1rem .8rem;
color: brown;
font-weight: bold;
text-align: center;
display: block;
}

.row-maicena p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
    margin-left: 1rem;
    color: white;
}

.calidad{
color: white;
padding-top: 5%;
padding-bottom: 5%;
text-align: center !important;
grid-column-start: 1; 
grid-column-end: 3; 
grid-row-start: 5; 
grid-row-end: 6;
background-color: #302c2c;
width: 100%;
height: 100%;
word-wrap: break-word;

}
.calidad img{
margin-bottom: 15px;
}

.contactanos{
display: grid;
grid-template-columns: 50vw 50vw;
width: 100%;
height: 32rem;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 6;
grid-row-end: 7;
background-image: url(IMAGENES/Productos/Producto4.png);
background-attachment: inherit;
background-size: 100% 100%;
background-repeat: no-repeat;
}


.row-contactanos{
    width: 100%;
    height: 30rem;
    min-height: 480px;
    min-width: 480px;
    padding: 2.5rem; 
    display: flex;
    color: brown;
}
.row-contactanos input{
width: 100%;
min-width: 480px;
display: inline-block;
padding-left: 10rem;
}

.formulario{
    width: 100%;
    height: 30rem;
     min-height: 480px;
    min-width: 480px;
    margin-bottom: 1rem;
    font-size: 1.9vh;
   overflow: hidden;

   word-break: break-all;
}


.miinput{
  background-color: brown;
  border: none;
  -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.row-contactanos button{
  margin-left: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: brown;
  border-color: brown;
  border-width: 0.23rem;
}

.productos-chico{
color: white;
padding-top: 5%;
padding-bottom: 5%;
text-align: center !important;
grid-column-start: 1; 
grid-column-end: 3; 
grid-row-start: 7; 
grid-row-end: 8;
background-color: #302c2c;
width: 100%;
height: 100%;
word-wrap: break-word;
}

.columnas-ima{
display: flex;
margin: 0.8rem;
width: 100%;
height: 25rem;
}


.columnas{
flex-direction: row;
margin: 0.8rem;
width: 30%;
height: 25rem;
background-color: brown;
}


.columnas img, svg {
    vertical-align: middle;
    margin-bottom: 0.4rem;
}
 .columnas button{
  background-color: transparent;
  color: white;
  border: solid 2px white;

}

 .columnas .h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 0.3;
}

.footers{
color: white;
text-align: center !important;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 8;
grid-row-end: 9;
background-color: black;
width: 100%;
height: 100%;
word-wrap: break-word;
display: flex;
align-items: center;
justify-content: center;
align-content: center;
flex-wrap: nowrap;
flex-direction: row;
}
.columnas-logo{
flex-direction: row;
background-color: transparent;
width: 50%;
height: 15rem;
align-content: center;
justify-content: center;
}

.columnas-logo img{
margin-top: 2rem;
width: 55%;
height: 10rem;
}
.columnas-menu{
  margin-left: 5rem;
  flex-direction: row;
margin: 0.8rem;
width: 50%;
height: 15rem;
text-align: left;
}

.columnas-redes{
flex-direction: row;
margin: 0.8rem;
width: 50%;
height: 15rem;
background-color: transparent;


}



.columnas-ubicacion{
    flex-direction: row;
margin: 0.8rem;
width: 50%;
height: 16rem;
background-color: transparent;
}

.mi-boton{
color: white !important;
text-decoration: none;
width:3rem !important;
height: 2rem;
}



columnas-ubicacion .iframe{
margin: 0.4rem;
}



